h1 {
  color: rgb(24, 24, 24)
}

h2 {
  font-style: italic;
  text-align: center;
  color: rgb(24, 24, 24)
}

p {
  color: rgb(24, 24, 24)
}

body {
  background-color: rgb(224, 185, 133);
  text-align: center;
}
img {
  width: 30%;
}
.highlight{
  color:rgb(16, 30, 46);
}
.headline{
  color:rgb(53, 18, 18);
}