h1 {
  color: rgb(24, 24, 24)
}

h2 {
  font-style: italic;
  text-align: center;
  color: rgb(24, 24, 24)
}

p {
  color: rgb(24, 24, 24)
}

body {
  background-color: rgb(250, 205, 146);
  text-align: center;
}
img {
  width: 30%;
}
.highlight{
  color:rgb(16, 30, 46);
}
.headline {
  color:rgb(53, 18, 18);
}
.sidebar {
  width: 17%;
  float: left;
  background-color:rgb(250, 166, 57)
}
ul {
  list-style: none;
}
